.aperekoden_slayda {
  height: 100%;
  width: 100%;
}

.aperekoden_slayda .smena_slada {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.aperekoden_slayda .smena_slada .asnapoka {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.h1__slide {
  font-size: 60px;
  position: relative;
  top: 60%;
}

.aperekoden_slayda .smena_slada .asnapoka:nth-child(1) {
  -webkit-animation: sliderFade-1 15s linear infinite;
  animation: sliderFade-1 15s linear infinite;
}

.aperekoden_slayda .smena_slada .asnapoka:nth-child(2) {
  -webkit-animation: sliderFade-2 15s linear infinite;
  animation: sliderFade-2 15s linear infinite;
}

.aperekoden_slayda .smena_slada .asnapoka:nth-child(3) {
  -webkit-animation: sliderFade-3 15s linear infinite;
  animation: sliderFade-3 15s linear infinite;
}

@keyframes sliderFade-1 {
  0% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sliderFade-2 {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sliderFade-3 {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

nav > ul {
  padding: 0;
  display: flex;
}
li {
  list-style: none;
}
nav a {
  color: #fff;
  text-decoration: none;
}

input[type="checkbox"] {
  display: none;
}
label {
  display: none;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  right: 5px;
}
label img {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 1080px) {
  nav label {
    display: block;
  }
  nav > ul {
    display: none;
  }
  .header__a {
    color: #000;
  }
  nav ul li {
    position: relative;

    text-align: left;
    right: 58px;
    padding: 15px;
    background-color: #ff0000;
  }
  nav ul li:first-child {
    margin-top: 15px;
  }
  input[type="checkbox"]:checked ~ label + #ul {
    z-index: 9999999;
    position: absolute;
    display: block;
  }
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #f44029;
  position: fixed;
  z-index: 999;
  max-width: 1920px;
  width: 100%;
  transition: transform 0.1s linear;
  top: 0;
}
.header__a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 15px;
  margin-right: 25px;
  text-transform: uppercase;
  font-weight: 500;
}
.header.hide {
  transform: translateY(-70px);
}
.header img {
  margin-left: 15px;
}

.header__a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}
.header__a::after {
  width: 0;
  transition: 0.3s;
}
.header__a:hover:after {
  width: 100%;
}

.header__block {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
