a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #001542;
}
.header a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.main__btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background: transparent;
  color: black;
  font-size: 30px;
  line-height: 1;
  border: 2px solid black;
  z-index: 10;
  transform: rotate(-90deg);
  border-radius: 50%;
  transition: background-color 0.5s;
}
.main__btn:hover {
  cursor: pointer;
  background-color: #345dff;
}
.hidden {
  display: none !important;
}
.section__belarus {
  background-image: url("../style/img/fonmolo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.section__belarus h1 {
  font-size: 60px;
}
.info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.info__title {
  font-size: 30px;
  letter-spacing: 2px;
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 50px;
    background: #000;
    margin-top: 20px;
    margin-left: 48.4%;
  }
}
.info__info {
  font-size: 20px;
  letter-spacing: 0.5vh;
  width: 800px;
}
swiper-container {
  width: 800px;
  max-width: 100%;
}
.slider__img {
  max-width: 100%;
}
