* {
  margin: 0;
  padding: 0;
}

.footer {
  background: #000;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.footer__a {
  color: #fff;
}
.footer__a:last-child {
  margin-right: 0;
}
.sozdatel {
  text-decoration: none;
  font-size: 11px;
}
@media screen and (max-width: 750px) {
  .footer {
    display: block;
    height: 220px;
  }
  .footer__a {
    color: #fff;
    display: block;
    padding-top: 30px;
  }
}
.from__belarus {
  min-height: 100vh;
}
.belarus__name {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.belarus__name__title {
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}
.belarus__info {
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  max-width: 720px;
  margin-top: 30px;
}
