body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.vibor {
  margin-top: 60px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
}

.li::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
}
.li::after {
  width: 0;
  transition: 0.3s;
}
.li:hover:after {
  width: 100%;
}
.vibot__item {
  width: 100%;
  max-width: 1920px;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 30px;
}
.li {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  align-items: center;
  margin: 0 20px 0 20px;
  cursor: pointer;
  background: #000;
  margin-top: 10px;
  padding: 5px 5px;
  transition: background 0.4s linear;
  transform: color 0.4s;
  width: 200px;
  height: 30px;
}
.li:hover {
  background: #fff;
  color: #000;
}
@media screen and (max-width: 750px) {
  .card__section {
    justify-content: center;
  }
}
.vibor__section {
  width: 100%;
  max-width: 1920px;
}
.input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  font-weight: 700;
}
.name__title {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.input__section {
  margin-top: 40px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
}
.card__section {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-top: 30px;
  margin-left: 50px;
}
.hide1 {
  display: none;
}

.card:hover .card__title {
  display: none;
}
.card {
  position: relative;
  width: 280px;
  height: 400px;
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  margin-right: 40px;
  margin-top: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #f44029;
}
@media (max-width: 700px) {
  .card {
    margin-right: 0;
  }
  .card__section {
    justify-content: center;
    margin-left: 0;
  }
}
.poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.poster::before {
  content: "";
  position: absolute;
  bottom: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}

.card:hover .poster::before {
  bottom: 0;
}

.poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.card:hover .poster img {
  transform: scale(1.1);
}

.details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5em 1.5em 2em;
  background: #000a;
  backdrop-filter: blur(16px) saturate(120%);
  transition: 0.3s;
  color: #fff;
  z-index: 2;
}

.card:hover .details {
  bottom: 0;
}

.details h1,
.details h2 {
  font-weight: 700;
}

.details h1 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.details h2 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 10px;
  opacity: 0.6;
}

.details .rating {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  gap: 0.25em;
}

.button4 {
  display: block;
  color: #fff;
  text-decoration: none;
  border: #fff 1px solid;
  padding: 5px 10px;
  width: 140px;
  opacity: 0.5;
  transition: opacity 0.4s;
  text-align: center;
}
.button4:hover {
  opacity: 1;
}
